// =============================================================================
// _COLOPHON.SCSS
// -----------------------------------------------------------------------------
// Footer overrides
// =============================================================================

.x-colophon {
	
	.bottom a, a {
		color: $topbarBottomFooterColor;
		&:hover {
			text-decoration: none;
		}
	}
	.button {
		text-decoration: none;
	}
	.widget {
		color: $topbarBottomFooterColor;
	}
}
