/* --------------------------------------------------------------
   _POST-CAROUSEL.SCSS
-------------------------------------------------------------- */



.h-entry-cover {
	top: auto;
	bottom: 0;
	line-height: 16px;
	span {
		white-space: normal;
		overflow: visible;
	}
	.date {
		font-size: 12px;
		font-weight: normal;
	}
}
.x-post-carousel-meta {
  height: 40px;
  left: $layoutSpacing * 1;
  right: $layoutSpacing * 1;
  
  > span {

    &:before,
    &:last-child:after {
      left:0;
    }

  }
}
.x-post-carousel.unstyled {
  .entry-cover {
    text-align: left;
    background-position: center right;
    &:hover {
      .h-entry-cover {
        top: 0;
        // bottom:100px;
        @include transition(#{all 0.615s $easeOutExpo}); // transition not working
      }
      .x-post-carousel-meta {
        bottom: 25%;
      }
    }
  }
}