/* --------------------------------------------------------------
   _POST-CAROUSEL.SCSS
-------------------------------------------------------------- */



.h-entry-cover {
  top: auto;
  bottom:0;
	line-height: 16px;
  height: 6em;
  span {
	 height:32px;
  	white-space: normal;
		overflow: hidden;
	}
	.date {
		font-size: 12px;
		font-weight: normal;
	}
}
.x-post-carousel-meta {
  height: 40px;
  left: $layoutSpacing * 1;
  right: $layoutSpacing * 1;  
  > span {
    &:before,
    &:last-child:after {
      left:0;
    }

  }
}
.x-post-carousel.unstyled {
  .entry-cover {
    text-align: left;
    background-position: center right;
    &:hover {
      .h-entry-cover {
        top: auto;
        bottom: calc(100% - 6em);
        @include transition(#{all 0.615s $easeOutExpo});
      }
      .x-post-carousel-meta {
        bottom: 25%;
      }
    }
  }
}
