/* --------------------------------------------------------------

	POST AND PAGES OVERRIDES
	
-------------------------------------------------------------- */

// All Posts and Pages
// =============================================================================

//
// Entry featured.
//

a.entry-thumb {
  background-position: right center;
}
.entry-thumb {
  text-align: center;
}
//
// Ability to hide featured image in single post view
//
.single-post.hide-featured {
  .entry-featured {
	 display:none;
  }
}

// Landmark Header
// =============================================================================

.x-header-landmark {
  padding: 1.85em 0 1.15em;

  @include break(middle-bear) {
	 text-align: center;
  }
	@include break(mama-bear) {	// stacked nav menu
	 padding-top: 7.85em;
  }
	 @media (min-width: 1400px) {	//inline nav menu
	 padding-top: 1.85em;
  }
}

.page,
.single-post {
  .x-main {
	 &.left .hentry .entry-featured,
	 &.right .hentry .entry-featured,
	 &.full .hentry .entry-featured {
		@include break(mama-bear) {	// stacked nav menu
		margin-top: $layoutSpacing;
	  }
	 }
  }
}

//
// Entry header without post thumbnail
//
.no-post-thumbnail {
	h1.entry-title {
		@include break(mama-bear) {	// stacked nav menu
			margin-top: 2.25em;
		  }
		 @media (min-width: 1400px) {	//inline nav menu
			margin-top: 0;
		  }
	}
}
// 404 Page
// =============================================================================
.error404 {
	.entry-404 {
		 p {
			max-width: 80%;
		 }
		 ul {
			max-width: 75%;
			margin: 1em auto;
			font-size: 1.5em;
			@include break(middle-bear) {
			  font-size: 1.25em;
			}
			@include break(baby-bear) {
			  font-size: 1em;
			}
		 }
	  }
}