/* --------------------------------------------------------------

   SHORTCODE OVERRIDES
   
-------------------------------------------------------------- */

// Recent Posts
// =============================================================================
.x-recent-posts {
	.h-recent-posts {
		white-space: normal;
	}
	.x-recent-posts-img {
	background: right center/cover no-repeat;
	}
}

// Entry Share
// =============================================================================
.x-entry-share {
	margin: 1em  0;
	p {
		font-size: inherit;
	}
	.x-share {
		color: $navbarBackground;
		&:hover {
	    	color: $white;
      		background-color: $navbarBackground;
	    }
	}
}

// Accordion
// =============================================================================
.x-accordion-inner {
	padding:2%;
	h2 {
		margin:0;
		font-size:16px;
		color: rgb(0,89,169);
	}
}
