/* --------------------------------------------------------------

   TYPOGRAPHY OVERRIDES
   
-------------------------------------------------------------- */
// import webfonts 
@import 'inc/_font-stacks';
///

// font overrides
* {
	font-family: 'gentona', Helvetica, Arial, sans-serif;
}
body {

	h1, h2, h3, h4, h5, h6, 
	.h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: 'gentona', Helvetica, Arial, sans-serif;
	}
	h1, h2, 
	.h1, .h2 {
		text-transform: uppercase;	
		// @include letter-spacing();
	}

	.x-brand {
		font-family: 'quadon', Georgia, serif;
	}
	.boxed {
		padding-bottom: 25px;
		letter-spacing: 0.25em;
		color: $grayLight;
		a {
			color: $grayLight;
			text-decoration: none;
		}

		span {
			display: inline-block;
			border: 3px solid $grayLight;
			padding: 7px 10px;
		}
	}
}
.p-meta a, .content a, .entry-content a {
  text-decoration: underline;
}
